{% extends 'base.html' %}
{% block title %} books {% endblock %}
{% block content %}

<div class="p-5">
    <h5 class="my-6">Categories <span class="text-purple-900 font-bold">{{categories|length}}</span> </h5>
    <div class="flex flex-wrap">
        {% for cate in categories %}
        <a href="{% url 'books_by_cate' cate.slug %}" class="p-2">
            <div class="bg-gray-100 rounded flex p-4 items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                    class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                    <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                    <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <p class="text-sm">{{cate.title}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="p-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
    {% for book in books %}
    <div class="p-5 border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50 flex flex-col items-center">
        <img 
            {% if book.image %}
            src="{{book.image.url}}"
            {% else %}
            src=""
            {% endif %}
            class="shadow rounded-lg overflow-hidden border">
        <div class="mt-8">
            <h4 class="font-bold text-xl">{{book.name}}</h4>
            <p class="mt-2 text-gray-600">{{book.description|truncatewords:50}}
            </p>
            {% if user.is_authenticated %}
            <div class="mt-5">
                <a href="{% url 'bookdetails' book.id %}" type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Details</a>
            </div>
            {% else %}
            <div class="mt-5">
                <a type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Login</a>
                <p>to see details</p>
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}