{% extends 'base.html' %}
{% block title %} reviews {% endblock %}

{% block content %}
    <div class="p-5">
        <form class="shawdow-xl" action="" method="post">
            {% csrf_token %}
            {{form.review}}
            <button type="submit" class="px-4 py-2 bg-blue-500" href="">POST</button>
        </form>
    </div>
    <div class="p-5">
        <h5>Total {{reviews|length}} reviews</h5>
        <div>
            {% for review in reviews %}
            <div class="p-2 my-5 border shawdow-lg">
                <p>{{review.review}}</p>
                <p class="text-sm">{{review.reviewer.email}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}