asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
filelock
MouseInfo
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
tzdata
virtualenv